* Colab 연결
* Google Drive 마운트(연결).
* csv_exam.csv 파일을 Google Drive의 lab-python 폴더에 업로드.

1. csv_exam.csv 파일을 읽기 모드로 오픈
2. 파일의 첫번째 줄은 (컬럼 이름이기 때문에) 읽고 아무 동작 없이 건너뜀.
3. 파일의 두번째 줄부터 마지막 줄까지 반복:
    * 각 줄에서 읽은 내용을 쉼표(,)로 구분한 리스트들을 저장하는 리스트를 만듦.
    * [['1', '1', '50', '98' , '50'], ['2', '1', '60', '97', '60'], ...]
4. 2차원 리스트의 모든 값들을 숫자로 변환.
    * [[1, 1, 50, 98 , 50], [2, 1, 60, 97, 60], ...]
5. 2차원 리스트에서 수학 점수들로만 이루어진 1차원 리스트를 만듦.
    * [50, 60, 45, ...]
6. 수학 점수의 평균, 최댓값, 최솟값을 찾음.
7. 1반 학생들의 수학 점수의 총점, 평균, 최댓값, 최솟값 찾음.

In [8]:
# CSV 파일이 저장된 경로
file1 = '/content/drive/MyDrive/Colab Notebooks/lab-python/csv_exam.csv'

In [17]:
#파일의 두번째 줄부터 마지막 줄까지 반복:
with open(file1) as f:
    f.readline()
    # 각 줄에서 읽은 내용을 쉼표(,)로 구분한 리스트들을 저장하는 리스트를 만듦.
    exam = [line.strip().split(sep = ',') for line in f]

print(exam)

[['1', '1', '50', '98', '50'], ['2', '1', '60', '97', '60'], ['3', '1', '45', '86', '78'], ['4', '1', '30', '98', '58'], ['5', '2', '25', '80', '65'], ['6', '2', '50', '89', '98'], ['7', '2', '80', '90', '45'], ['8', '2', '90', '78', '25'], ['9', '3', '20', '98', '15'], ['10', '3', '50', '98', '45'], ['11', '3', '65', '65', '65'], ['12', '3', '45', '85', '32'], ['13', '4', '46', '98', '65'], ['14', '4', '48', '87', '12'], ['15', '4', '75', '56', '78'], ['16', '4', '58', '98', '65'], ['17', '5', '65', '68', '98'], ['18', '5', '80', '78', '90'], ['19', '5', '89', '68', '87'], ['20', '5', '78', '83', '58']]

In [18]:
# 2차원 리스트의 모든 값들을 숫자로 변환.
exam2 = []
for row in exam:
    row_num=[] #숫자들을 저장할 1차원 리스트
    for x in row:
        row_num.append(int(x)) # 문자열을 int 타입으로 변환해서 리스트에 추가
    exam2.append(row_num)

exam2

[[1, 1, 50, 98, 50],
 [2, 1, 60, 97, 60],
 [3, 1, 45, 86, 78],
 [4, 1, 30, 98, 58],
 [5, 2, 25, 80, 65],
 [6, 2, 50, 89, 98],
 [7, 2, 80, 90, 45],
 [8, 2, 90, 78, 25],
 [9, 3, 20, 98, 15],
 [10, 3, 50, 98, 45],
 [11, 3, 65, 65, 65],
 [12, 3, 45, 85, 32],
 [13, 4, 46, 98, 65],
 [14, 4, 48, 87, 12],
 [15, 4, 75, 56, 78],
 [16, 4, 58, 98, 65],
 [17, 5, 65, 68, 98],
 [18, 5, 80, 78, 90],
 [19, 5, 89, 68, 87],
 [20, 5, 78, 83, 58]]

In [21]:
exam2 = [[int(x) for x in row]
         for row in exam]
exam2

[[1, 1, 50, 98, 50],
 [2, 1, 60, 97, 60],
 [3, 1, 45, 86, 78],
 [4, 1, 30, 98, 58],
 [5, 2, 25, 80, 65],
 [6, 2, 50, 89, 98],
 [7, 2, 80, 90, 45],
 [8, 2, 90, 78, 25],
 [9, 3, 20, 98, 15],
 [10, 3, 50, 98, 45],
 [11, 3, 65, 65, 65],
 [12, 3, 45, 85, 32],
 [13, 4, 46, 98, 65],
 [14, 4, 48, 87, 12],
 [15, 4, 75, 56, 78],
 [16, 4, 58, 98, 65],
 [17, 5, 65, 68, 98],
 [18, 5, 80, 78, 90],
 [19, 5, 89, 68, 87],
 [20, 5, 78, 83, 58]]

In [26]:
math = []

for row in exam2: #2차원 리스에서 1차원 리스트를 순서대로 반복하면서
    math.append(row[2]) # 수학점수(1차원 리스트의 인덱스 2번 원소)를 리스트에 추가.

math2 = [row[2] for row in exam2]

math2

[50,
 60,
 45,
 30,
 25,
 50,
 80,
 90,
 20,
 50,
 65,
 45,
 46,
 48,
 75,
 58,
 65,
 80,
 89,
 78]

In [29]:
# 수학 점수의 평균, 최댓값, 최솟값을 찾음.

sum(math) / len(math)

max(math)

min(math)

57.45

In [38]:
# 1반 학생들의 수학 점수의 평균, 최댓값, 최솟값을 찾음.

math_class1 = []

for row in exam2:
    if row[1] == 1:
        math_class1.append(row[2])

math_class1

math_class2 = [row[2] for row in exam2 if row[1] == 1]

math_class2

[50, 60, 45, 30]