In [40]:
import pandas as pd #Series, DataFrame
import seaborn as sns #시각화, 예제 데이터
import numpy as np

## 열, 행 부르는 이름 

* row - record, obserbasion
* column - variable

In [3]:
tips = sns.load_dataset('tips')

tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

tips dataset

* total_bill : 영수증 금액
* tip : 팁 
* sex : 성별(Female, Male)
* smoker : 흡연 여부(Yes | no)
* day : 요일
* time : 영업시간(Lunch, Dinner)
* size : 일행 수

In [4]:
tips.shape # (row, column)

(244, 7)

In [5]:
tips.columns # 컬럼 레이블(이름)

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [6]:
tips.index # 행 레이블

RangeIndex(start=0, stop=244, step=1)

In [7]:
# ex1. Data Frame의 첫 5개 행 출력

tips.iloc[:6]
tips.head(n=6)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4

In [8]:
# ex2. Data Frame의 마지막 6개 행 출력

tips.iloc[-6:]
tips.tail(n=6)

     total_bill   tip     sex smoker   day    time  size
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [9]:
# ex3. Data Frame에서 숫자 타입 변수(컬럼)의 기술 통계량

tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [10]:
# ex4. 카테고리 타입 변수(컬럼)의 빈도수를 출력

print(tips.sex.value_counts())
print(tips.smoker.value_counts())
print(tips.day.value_counts())
print(tips.time.value_counts())

Male      157
Female     87
Name: sex, dtype: int64
No     151
Yes     93
Name: smoker, dtype: int64
Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64
Dinner    176
Lunch      68
Name: time, dtype: int64

In [11]:
# ex5. 영수증 금액이 최댓값인 레코드(행)을 출력
tips[tips.total_bill == tips.total_bill.max()]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [12]:
# ex5-2. 영수증 금액이 최솟값인 레코드를 출력
tips[tips.total_bill == tips.total_bill.min()]

    total_bill  tip     sex smoker  day    time  size
67        3.07  1.0  Female    Yes  Sat  Dinner     1

In [13]:
# ex6. 영수증 금액이 최댓값이거나 최솟값인 레코드들을 출력

tips[(tips.total_bill == tips.total_bill.max()) | 
     (tips.total_bill == tips.total_bill.min())]

     total_bill   tip     sex smoker  day    time  size
67         3.07   1.0  Female    Yes  Sat  Dinner     1
170       50.81  10.0    Male    Yes  Sat  Dinner     3

In [14]:
tips.iloc[[tips.total_bill.argmax(), tips.total_bill.argmin()]]

     total_bill   tip     sex smoker  day    time  size
170       50.81  10.0    Male    Yes  Sat  Dinner     3
67         3.07   1.0  Female    Yes  Sat  Dinner     1

In [15]:
# ex7. 남성 & 여성의 tip 평균

xy = tips[tips.sex == 'Male'].tip.mean()
xx = tips[tips.sex == 'Female'].tip.mean()

print('남자 평균 : ', xy)
print('여자 평균 : ', xx)

남자 평균 :  3.0896178343949043
여자 평균 :  2.8334482758620685

In [16]:
# 성별 컬럼의 unique(중복되지 않는 값)
tips.sex.unique()

['Female', 'Male']
Categories (2, object): ['Male', 'Female']

In [17]:
for s in tips.sex.unique():
    print(s, ':', tips[tips.sex == s]['tip'].mean())

Female : 2.8334482758620685
Male : 3.0896178343949043

In [18]:
# ex8. 남성 & 여성의 tip 최댓값 / 최솟값 / 중앙값

xy_max = tips[tips.sex == 'Male'].tip.max()
xx_max = tips[tips.sex == 'Female'].tip.max()

print('남자 최댓값 : ', xy_max)
print('여자 최댓값 : ', xx_max)

xy_min = tips[tips.sex == 'Male'].tip.min()
xx_min = tips[tips.sex == 'Female'].tip.min()

print('남자 최솟값 : ', xy_min)
print('여자 최솟값 : ', xx_min)

xy_median = tips[tips.sex == 'Male'].tip.median()
xx_median = tips[tips.sex == 'Female'].tip.median()

print('남자 중앙값 : ', xy_median)
print('여자 중앙값 : ', xx_median)

남자 최댓값 :  10.0
여자 최댓값 :  6.5
남자 최솟값 :  1.0
여자 최솟값 :  1.0
남자 중앙값 :  3.0
여자 중앙값 :  2.75

In [19]:
for s in tips.sex.unique():
    print(s, 'max :', tips[tips.sex == s]['tip'].max())
for s in tips.sex.unique():
    print(s, 'min :', tips[tips.sex == s]['tip'].min())
for s in tips.sex.unique():
    print(s, 'median :', tips[tips.sex == s]['tip'].median())

Female max : 6.5
Male max : 10.0
Female min : 1.0
Male min : 1.0
Female median : 2.75
Male median : 3.0

In [20]:
# ex+1. 흡연 여부별로 팁의 차이?
    # 흡연 여부별 팁의 평균

for s in tips.smoker.unique():
    print(s, ':', tips[tips.smoker == s].tip.mean())

No : 2.9918543046357615
Yes : 3.008709677419355

In [21]:
tips.groupby(by='smoker').tip.mean()

smoker
Yes    3.008710
No     2.991854
Name: tip, dtype: float64

In [22]:
# ex+2. 요일별 팁의 차이?

for d in tips.day.unique():
    print(d, ':', tips[tips.day == d].tip.mean())

Sun : 3.2551315789473687
Sat : 2.993103448275862
Thur : 2.771451612903225
Fri : 2.7347368421052627

In [24]:
tips.groupby(by='day').tip.mean()

day
Thur    2.771452
Fri     2.734737
Sat     2.993103
Sun     3.255132
Name: tip, dtype: float64

In [23]:
# ex+3. 시간별 팁의 차이?

for t in tips.time.unique():
    print(t, ':', tips[tips.time == t].tip.mean())

Dinner : 3.102670454545454
Lunch : 2.728088235294118

In [25]:
tips.groupby(by='time').tip.mean()

time
Lunch     2.728088
Dinner    3.102670
Name: tip, dtype: float64

In [27]:
# 성별, 흡연여부별 팁의 평균

tips.groupby(['sex','smoker']).tip.mean()

sex     smoker
Male    Yes       3.051167
        No        3.113402
Female  Yes       2.931515
        No        2.773519
Name: tip, dtype: float64

In [28]:
# 성별, 요일별 팁의 평균

tips.groupby(by= ['sex','day']).tip.mean()

sex     day
Male    Thur    2.980333
        Fri     2.693000
        Sat     3.083898
        Sun     3.220345
Female  Thur    2.575625
        Fri     2.781111
        Sat     2.801786
        Sun     3.367222
Name: tip, dtype: float64

In [29]:
tips.groupby(by= ['day','sex']).tip.mean()

day   sex
Thur  Male      2.980333
      Female    2.575625
Fri   Male      2.693000
      Female    2.781111
Sat   Male      3.083898
      Female    2.801786
Sun   Male      3.220345
      Female    3.367222
Name: tip, dtype: float64

## 카테고리별로 2개 이상의 컬럼을 선택

In [32]:
# 성별 영수증 금액의 평균, 팁의 평균

tips.groupby('sex')[['total_bill','tip']].mean()

        total_bill       tip
sex
Male     20.744076  3.089618
Female   18.056897  2.833448

In [39]:
# 성별, 흡연여부별 영수증 금액의 평균, 팁의 평균

tips.groupby(['sex', 'smoker'])[['total_bill', 'tip']].mean()

               total_bill       tip
sex    smoker
Male   Yes      22.284500  3.051167
       No       19.791237  3.113402
Female Yes      17.977879  2.931515
       No       18.105185  2.773519

## 그룹별 2개 이상의 통계 함수 적용

* aggregate

In [42]:
# 성별 팁의 평균, 최댓값, 최솟값

tips.groupby('sex').tip.agg([np.mean, np.max, np.min]) # aggregate

            mean  amax  amin
sex
Male    3.089618  10.0   1.0
Female  2.833448   6.5   1.0

In [44]:
# 성별 흡연여부별 영수증 금액과 팁의 평균, 표준편차
tips.groupby(['sex','smoker'])[['total_bill', 'tip']].agg([np.mean, np.std]) # aggregate

              total_bill                 tip
                    mean       std      mean       std
sex    smoker
Male   Yes     22.284500  9.911845  3.051167  1.500120
       No      19.791237  8.726566  3.113402  1.489559
Female Yes     17.977879  9.189751  2.931515  1.219916
       No      18.105185  7.286455  2.773519  1.128425